<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<description>
		This web application context contains Spring-WS beans. The
		beans defined
		in this context are automatically
		detected by Spring-WS,
		similar to the way Controllers are picked up in Spring
		Web MVC.
	</description>

	<context:component-scan base-package="org.springws" />

	<sws:annotation-driven />

	<sws:interceptors>
		<bean
			class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
			<description>
				This interceptor validates both incoming and outgoing
				message contents
				according to the 'echo.xsd' XML
				Schema file.
			</description>
			<property name="schema" value="/WEB-INF/service.xsd" />
			<property name="validateRequest" value="true" />
			<property name="validateResponse" value="true" />
		</bean>
		<bean
			class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor">
			<description>
				This interceptor logs the message payload.
			</description>
		</bean>
		<bean id="wsSecurityInterceptor"
			class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor">
			<property name="validationActions" value="UsernameToken Timestamp Signature" />
			<property name="validationCallbackHandler" ref="callbackHandler" />
			<property name="validationSignatureCrypto" ref="crypto" />

			<property name="securementActions" value="UsernameToken Timestamp Signature" />
			<property name="securementSignatureParts">
				<value>
					{Content}{http://schemas.xmlsoap.org/soap/envelope/}Body
				</value>
			</property>
			<property name="securementUsername" value="mra" />
			<property name="securementPassword" value="mra1" />
			<property name="securementSignatureCrypto" ref="crypto" />
			<property name="securementSignatureKeyIdentifier" value="DirectReference" />
		</bean>
	</sws:interceptors>

	<bean id="callbackHandler"
		class="org.springframework.ws.soap.security.wss4j.callback.SimplePasswordValidationCallbackHandler">
		<property name="users">
			<props>
				<prop key="mra">mra1</prop>
				<prop key="Mickey">Mouse</prop>
			</props>
		</property>
	</bean>

	<bean id="crypto"
		class="org.springframework.ws.soap.security.wss4j.support.CryptoFactoryBean">
		<property name="keyStorePassword" value="mra123" />
		<property name="keyStoreLocation" value="classpath:/mra.jks" />
	</bean>

	<sws:dynamic-wsdl id="mra" serviceName="MRADataExchangeService"
		portTypeName="SendMessagePort" locationUri="mraDataExchange">
		<sws:xsd location="/WEB-INF/service.xsd" />
	</sws:dynamic-wsdl>

</beans>